<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>青橙秒杀-正品秒杀！</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <!-- 引入样式 -->
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-seckill-index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="py-container index" id="app">
    <!--banner-->
    <div class="banner">
        <img alt="畅购" class="img-responsive" src="/static/img/_/banner.png">
    </div>
    <!--秒杀时间-->
    <div class="sectime">
        <div :class="['item-time',index==ctime?'active':'']" @click="ctime=index;searchList(item)" v-for="(item,index) in dateMenus">
            <div class="time-clock">{{item | dateFilter('HH:mm')}}</div>
            <div class="time-state-on">
                <span class="on-text" v-if="index==0">快抢中</span>
                <span class="on-over" v-if="index==0">距离结束：{{timeDown(alltimes[index])}}</span>
                <span class="on-text" v-if="index>0">即将开始</span>
                <span class="on-over" v-if="index>0">距离开始：{{timeDown(alltimes[index])}}</span>
            </div>
        </div>
    </div>
    <!--商品列表-->
    <div class="goods-list">
        <ul class="seckill">
            <li class="seckill-item" v-for="item in goodslist">
                <div class="pic">
                    <img :alt="item.introduction" :src="item.smallPic">
                </div>
                <div class="intro">
                    <span>{{item.name}}</span>
                </div>
                <div class="intro">
                    <span>商品ID：{{item.id}}</span>
                </div>
                <div class='price'>
                    <b class='sec-price'>￥{{item.costPrice}}</b>
                    <b class='ever-price'>￥{{item.price}}</b>
                </div>
                <div class='num'>
                    <div>已售{{item.num}}</div>
                    <div class='progress'>
                        <div class='sui-progress progress-danger'>
                            <span class='bar' style='width: 70%;'></span>
                        </div>
                    </div>
                    <div>剩余
                        <b class='owned'>{{item.stockCount}}</b>件
                    </div>
                </div>
                <a @click="add(item.id)" class='sui-btn btn-block btn-buy' href="javascript:void(0);">立即抢购</a>
            </li>
        </ul>
    </div>
    <div class="cd-top">
        <div class="top">
            <img src="/static/img/_/gotop.png"/>
            <b>TOP</b>
        </div>
        <div class="code" id="code">
            <span>
                <img src="/static/img/_/code.png"/>
            </span>
        </div>
        <div class="erweima">
            <img alt="" src="/static/img/_/erweima.jpg">
            <s></s>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="/static/js/axios.min.js" type="text/javascript"></script>
<script src="/static/js/moment.min.js" type="text/javascript"></script>
<script th:inline="javascript">
    const app = new Vue({
        el: '#app',
        data() {
            return {
                goodslist: [],
                dateMenus: [],
                ctime: 0,     //当前时间菜单选中的下标
                alltimes: []
            }
        },
        methods: {
            loadMenus: function () {
                axios.get("/api/wseckill/order/menus").then(function (response) {
                    app.dateMenus = response.data.data;

                    //查询当前时间段对应的秒杀商品
                    app.searchList(app.dateMenus[0]);

                    //循环所有时间菜单
                    for (var i = 0; i < app.dateMenus.length; i++) {
                        //运算每个时间菜单倒计时时间差
                        if (i === 0) {
                            var x = i + 1;
                            let end = moment(app.dateMenus[x], 'YYYYMMDDHHmm');
                            let start = moment(app.dateMenus[0], 'YYYYMMDDHHmm');
                            let diff = end.diff(start, 'seconds');
                            app.$set(app.alltimes, i, diff);
                        } else {
                            let end = moment(app.dateMenus[i], 'YYYYMMDDHHmm');
                            let start = moment(app.dateMenus[0], 'YYYYMMDDHHmm');
                            let diff = end.diff(start, 'seconds');
                            app.$set(app.alltimes, i, diff);
                        }
                    }

                    //时间差递减
                    let timers = window.setInterval(function () {
                        for (var i = 0; i < app.alltimes.length; i++) {
                            //时间递减
                            app.$set(app.alltimes, i, app.alltimes[i] - 1);
                            if (app.alltimes[i] <= 0) {
                                //停止倒计时
                                window.clearInterval(timers);
                                //当任意一个时间<=0的时候，需要重新刷新菜单，并刷新对应的数据
                                app.loadMenus();
                            }
                        }
                    }, 1000);
                })
            },
            //按照时间查询秒杀商品列表
            searchList: function (time) {
                axios.get('/api/wseckill/order/list?time=' + time).then(function (response) {
                    if (response.data.flag) {
                        app.goodslist = response.data.data;
                    }
                })
            },
            //秒杀下单
            add: function (id) {
                app.msg = '正在下单';
                axios.get("/api/wseckill/order/random").then(function (response) {
                    const random = response.data.data;
                    axios.post("/api/wseckill/order/add?time=" + app.dateMenus[0] + "&id=" + id + "&random=" + random).then(function (response) {
                        if (response.data.flag) {
                            app.msg = '抢单成功，即将进入支付!';
                        } else {
                            app.msg = '抢单失败';
                        }
                    })
                });
            },
            //将毫秒转换成时分秒
            timeDown: function (num) {
                var oneSecond = 1;
                var oneMinute = oneSecond * 60;
                var oneHour = oneMinute * 60
                //小时
                var hours = Math.floor(num / oneHour);
                //分钟
                var minutes = Math.floor((num % oneHour) / oneMinute);
                //秒
                var seconds = Math.floor((num % oneMinute) / oneSecond);
                //拼接时间格式
                return hours + ':' + minutes + ':' + seconds;
            }
        },
        filters: {
            dateFilter: function (date, formatPattern) {
                return moment(date, 'YYYYMMDDHHmm').format(formatPattern || "YYYYMMDDHHmm");
            }
        },
        created: function () {
            this.loadMenus();
        }
    });
</script>

</body>

</html>