<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>我的购物车</title>
    <link rel="icon" th:href="@{/static/img/favicon.ico}">
    <!-- 引入样式 -->
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/all.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/pages-cart.css}" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="cart py-container">
    <!--All goods-->
    <div class="allgoods">
        <h4>全部商品
            <span></span>
        </h4>
        <div class="cart-main">
            <div class="yui3-g cart-th">
                <div class="yui3-u-1-4">
                    <input class="chooseAll" id="chooseAllTop" name="" type="checkbox"/> 全部
                </div>
                <div class="yui3-u-1-4">商品</div>
                <div class="yui3-u-1-8">单价（元）</div>
                <div class="yui3-u-1-8">数量</div>
                <div class="yui3-u-1-8">小计（元）</div>
                <div class="yui3-u-1-8">操作</div>
            </div>
            <div class="cart-item-list" id="app">
                <div class="cart-body">
                    <!-- vue loadlist -->
                    <div class="cart-list" th:each="item,index:${items}">
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-1-24">
                                <input id="chk_list" name="chk_list" th:money="${item.price}"
                                       th:num="${item.num}"
                                       th:onclick="'javascript:sel('+ this + ',\'' + ${item.num * item.price} + '\')'"
                                       th:value="${item.skuId}"
                                       type="checkbox"
                                />
                            </li>
                            <li class="yui3-u-6-24">
                                <div class="good-item">
                                    <div class="item-img">
                                        <img style="max-width: 80px;max-height: 90px" th:alt="${item.name}" th:src="${item.image}" th:title="${item.name}"/>
                                    </div>
                                    <div class="item-msg" th:text="${item.name}"></div>
                                </div>
                            </li>
                            <li class="yui3-u-5-24">
                                <div class="item-txt" th:text="${item.name}"></div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="price" th:text="${item.price}"></span>
                            </li>
                            <li class="yui3-u-1-8">
                                <a class="increment mins" th:href="'javascript:add(\'' +   ${item.skuId}  + '\', -1)'">-</a>
                                <input autocomplete="off" class="itxt" th:value="${item.num}" type="text"/>
                                <a class="increment plus" th:href="'javascript:add(\'' + ${item.skuId} + '\', 1)'">+</a>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum" th:text="${item.num * item.price}"></span>
                            </li>
                            <li class="yui3-u-1-8">
                                <a th:href="'javascript:add(\'' + ${item.skuId} + '\', -' + ${item.num} + ')'">删除</a>
                                <br/>
                                <a href="#none">移到收藏</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-tool">
            <div class="select-all">
                <input class="chooseAll" id="chooseAllBottom" name="" type="checkbox"/>
                <span>全选</span>
            </div>
            <div class="option">
                <a href="#none">删除选中的商品</a>
                <a href="#none">移到我的关注</a>
                <a href="#none">清除下柜商品</a>
            </div>
            <div class="money-box">
                <div class="chosed">已选择
                    <span id="spanNum">0</span>件商品
                </div>
            </div>
            <div class="sumprice">
                <span>
                    <em>总价（不含运费）：</em>
                    <i class="summoney" id="summoney">¥0</i>
                </span>
                <span>
                    <em>已节省：</em>
                    <i class="summoney">-¥20.00</i>
                </span>
            </div>
            <div class="sumbtn">
                <form action="/api/worder/ready" id="form" method="POST" style="display: none" target="_blank">
                    <input id="skuList" name="skuList" type="hidden"/>
                </form>
                <a class="sum-btn" href="#" onclick="checkout()">结算</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="liked">
        <ul class="sui-nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#index">猜你喜欢</a>
            </li>
            <li>
                <a data-toggle="tab" href="#profile">特惠换购</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="index">
                <div class="sui-carousel slide" data-interval="4000" data-ride="carousel" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul>
                                <li>
                                    <img th:src="@{/static/img/like1.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like2.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like3.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like4.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul>
                                <li>
                                    <img th:src="@{/static/img/like1.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like2.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like3.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <img th:src="@{/static/img/like4.png}"/>
                                    <div class="intro">
                                        <i>Apple苹果iPhone 6s (A1699)</i>
                                    </div>
                                    <div class="money">
                                        <span>$29.00</span>
                                    </div>
                                    <div class="incar">
                                        <a class="sui-btn btn-bordered btn-xlarge btn-default" href="#">
                                            <i class="car"></i>
                                            <span class="cartxt">加入购物车</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="carousel-control left" data-slide="prev" href="#myCarousel">‹</a>
                    <a class="carousel-control right" data-slide="next" href="#myCarousel">›</a>
                </div>
            </div>
            <div class="tab-pane" id="profile">
                <p>特惠选购</p>
            </div>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>

<script th:src="@{/static/js/axios.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/plugins/jquery/jquery.min.js}" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/element-ui/2.5.4/index.js" type="text/javascript"></script>

<script type="text/javascript">
    $("#chooseAllTop").click(function () {
        $("input[name='chk_list']").prop("checked", $(this).prop("checked"));
        $("#chooseAllBottom").prop("checked", $(this).prop("checked"));
        calculate();
    });

    $("#chooseAllBottom").click(function () {
        $("input[name='chk_list']").prop("checked", $(this).prop("checked"));
        $("#chooseAllTop").prop("checked", $(this).prop("checked"));
        calculate();
    });

    function sel(item, money) {
        $(item).prop("checked", $(item).prop("checked"));
        let len = $("input[name='chk_list']").length;
        let length = $("input[name='chk_list']:checked").length;
        if (len === length) {
            $("#chooseAllTop").prop("checked", true);
            $("#chooseAllBottom").prop("checked", true);
        } else {
            $("#chooseAllTop").prop("checked", false);
            $("#chooseAllBottom").prop("checked", false);
        }
        calculate();
    }

    function calculate() {
        let input = $("input[name='chk_list']:checked");
        let sum = 0;
        let total = 0;
        input.each(function (index, ele) {
            let num = parseInt($(ele).attr("num"));
            sum += num;
            total += parseInt($(ele).attr("money")) * num;
        })
        $("#spanNum").text(sum);
        $("#summoney").html('¥' + total);
    }

    function add(skuId, num) {
        axios.get("/api/wcart/add?skuId=" + skuId + "&num=" + num).then(function (response) {
            if (response.data.code === 0) {
                // TODO 做成异步加载
                window.location.href = "/api/wcart/list";
            } else {
                alert('操作失败');
            }
        });
    }

    function checkout() {
        let input = $("input[name='chk_list']:checked");
        let length = input.length;
        if (length <= 0) {
            alert("请选择至少一件商品！");
            return;
        }
        const list = [];
        input.each(function (index, item) {
            list.push($(item).val());
        });
        let str = "";
        for (let i = 0; i < list.length; i++) {
            if (i === list.length - 1) {
                str += list[i];
            } else {
                str += list[i] + ",";
            }
        }
        // TODO 如何通过其他方式跳转，保证参数不在浏览器栏显示
        // $("#skuList").val(JSON.stringify(list));
        // $("#form").submit();
        window.location.href = "/api/worder/ready?skuList=" + str;
    }
</script>
</body>

</html>