<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>支付页</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-pay.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="cart py-container">
    <!--主内容-->
    <div class="checkout py-container pay">
        <div class="checkout-tit">
            <h4 class="tit-txt"><span class="success-icon"></span><span class="success-info">订单提交成功，请您及时付款，以便尽快为您发货。</span></h4>
            <div class="paymark">
                <span class="fl">请您在<em class="orange time">30</em>分钟内完成支付，超时订单会自动取消。</span>
                <span>订单号：<em th:text="${orderId}"></em></span>
                <span class="fr"><em class="sui-lead">应付金额：</em><em class="orange money" th:text="'￥'+${payMoney}"></em></span>
            </div>
        </div>
        <div class="check-info">
            <h4>重要说明：</h4>
            <ol>
                <li>品优购商城支付平台目前支持<span class="zfb">支付宝</span>支付方式。</li>
                <li>其它支付渠道正在调试中，敬请期待。</li>
                <li>为了保证您的购物支付流程顺利完成，请保存以下支付宝信息。</li>
            </ol>
            <h4>支付宝账户信息：（很重要，<span class="save">请保存！！！</span>）</h4>
            <ul>
                <li>支付帐号：duqthf1038@sandbox.com</li>
                <li>密码：111111</li>
                <li>支付密码：111111</li>
            </ul>
        </div>
        <div class="checkout-steps">
            <!--收件人信息-->
            <div class="step-tit">
                <h5>支付平台</h5>
            </div>
            <div class="step-cont">
                <ul class="payType">
                    <li><img src="/static/img/_/pay1.jpg"></li>
                    <li><img src="/static/img/_/pay2.jpg"></li>
                    <li><img src="/static/img/_/pay3.jpg"></li>
                    <li><img src="/static/img/_/pay4.jpg"></li>
                    <li><img src="/static/img/_/pay5.jpg"></li>
                </ul>
            </div>
            <div class="hr"></div>
            <!--支付和送货-->
            <div class="payshipInfo">
                <div class="step-tit">
                    <h5>支付网银</h5>
                </div>
                <div class="step-cont">
                    <ul class="payType">
                        <li><img src="/static/img/_/pay10.jpg"></li>
                        <li><img src="/static/img/_/pay11.jpg"></li>
                        <li><img src="/static/img/_/pay12.jpg"></li>
                        <li><img src="/static/img/_/pay13.jpg"></li>
                        <li><img src="/static/img/_/pay14.jpg"></li>
                        <li><img src="/static/img/_/pay15.jpg"></li>
                        <li><img src="/static/img/_/pay16.jpg"></li>
                        <li><img src="/static/img/_/pay17.jpg"></li>
                        <li><img src="/static/img/_/pay18.jpg"></li>
                        <li><img src="/static/img/_/pay19.jpg"></li>
                        <li><img src="/static/img/_/pay20.jpg"></li>
                        <li><img src="/static/img/_/pay21.jpg"></li>
                        <li><img src="/static/img/_/pay22.jpg"></li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>
            <div class="submit sui-text-center">
                <a class="sui-btn btn-danger btn-xlarge" target="_blank" th:href="@{/api/wpay/weixinpay(orderId=${orderId})}">立即支付</a>
            </div>
            <div class="otherpay">
                <div class="step-tit">
                    <h5>其他支付方式</h5>
                </div>
                <div class="step-cont">
                    <span><a href="weixinpay.html" target="_blank">微信支付</a></span>
                    <span>中国银联</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>
</body>

</html>