<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <title>微信支付页</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pages-weixinpay.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页面顶部-->
<div th:replace="all::nav"></div>

<div class="cart py-container">
    <!--主内容-->
    <div class="checkout py-container pay">
        <div class="checkout-tit">
            <h4 class="fl tit-txt"><span class="success-icon"></span><span class="success-info">订单提交成功，请您及时付款！订单号：<em th:text="${orderId}"></em></span></h4>
            <span class="fr"><em class="sui-lead">应付金额：</em><em class="orange money" th:text="'￥'+${payMoney}"></em>元</span>
            <div class="clearfix"></div>
        </div>
        <div class="checkout-steps">
            <div class="fl weixin">微信支付</div>
            <div class="fl sao">
                <!--<p class="red">二维码已过期，刷新页面重新获取二维码。</p>-->
                <div class="fl code">
                    <div id="qrcode"></div>
                    <div>
                        <p>请使用微信扫一扫</p>
                        <p>扫描二维码支付</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p><a href="pay.html" target="_blank">>其他支付方式</a></p>
        </div>
    </div>
</div>

<!--页面底部-->
<div th:replace="all::footer"></div>

<script src="/static/js/qrcode.min.js" type="text/javascript"></script>
<script src="/static/js/stomp.min.js" type="text/javascript"></script>

<script th:inline="javascript" type="text/javascript">
    let qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 200,
        height: 200
    });
    qrcode.makeCode([[${code_url}]]);

    let client = Stomp.client('ws://192.168.245.121:15674/ws');
    let on_connect = function () {
        client.subscribe("/exchange/pay_success", function (d) {
            let orderId = [[${orderId}]];
            if (d.body === orderId) {
                location.href = '/api/wpay/success?orderId=' + orderId + '&payMoney=' + [[${payMoney}]]; //参数支付金额
            }
        });
        client.subscribe("/exchange/pay_fail", function (d) {
            let orderId = [[${orderId}]];
            if (d.body === orderId) {
                location.href = '/api/wpay/fail?orderId=' + orderId + '&payMoney=' + [[${payMoney}]]; //参数支付金额
            }
        });
    };
    let on_error = function () {
        console.log("error");
    };
    client.connect('webguest', 'webguest', on_connect, on_error, '/');
</script>
</body>
</html>